.container {
  text-align: center;
}

.website-header h1 {
  font-size: 50px;
}

.galleryGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.galleryGrid img {
  width: 20%;
  height: 30%;
}

.portfolioGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portfolioGrid img {
  width: 350px;
  height: 240px;
}
